.owner-dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .owned-properties,
  .add-property {
    margin-top: 20px;
    border: 1px solid #ea5b5b;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .owned-properties h3,
  .add-property h3 {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: 0.5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  