/* PostProperty.css */

.property-post {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.property-post h1 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.property-post label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.property-post input,
.property-post select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.property-post .operation {
  display: flex;
  align-items: center;
}

.property-post button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.property-post button:hover {
  background-color: #0056b3;
}

.property-post a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

.property-post a:hover {
  color: #007bff;
}
