/* Home.css */

.home {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  color: #666;
}

.search-form {
  margin-top: 30px;
}

.search-form input,
.search-form select,
.search-form button {
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.city-list {
  margin-top: 30px;
}

.city-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.city-list ul {
  list-style: none;
  padding: 0;
}

.city-list li {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.city-list li:hover {
  background-color: #aaa;
  color: #fff;
}

.property-list {
  margin-top: 30px;
}

.property-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-list ul {
  list-style: none;
  padding: 0;
}

.property-list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}




/* .home {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
  }
  
  .home-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .home h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .home p {
    font-size: 18px;
    color: #666;
  }
   */