/* Home.css */

/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Styling for the home section */
.home {
  background-color: #f7f7f7;
  padding: 100px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
}

.home h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #333;
}

.home p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

/* Styling for the search form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-form input,
.search-form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 10px;
}

.search-form select {
  background-color: #f0f0f0;
}

/* Styling for the city buttons */

.city-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;

}



.city-list button {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.city-list img {
  width: 200px;
  height: 200px; 
  margin-right: 10px; 
  display: grid;
}

.city-list button:hover {
  background-color: black; /* Change this to your desired hover color */
}

/* 
Styling for the city buttons
.city-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.city-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.city-button img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
} */

/* Improved button hover effect */
/* .button:hover {
  background-color: black;
  color: white;
} */
